body{
    margin: 0px;
}
ul{
    margin: 0;
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.g-bg-blue{
    background: #09304A !important;
}
.header{
    width: 100%;
    background: white;
}
.header-top{
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 2;
}
.header-center{
    width: 100%;
    position: relative;
    padding-top: 0.71429rem !important;
    padding-bottom: 0.71429rem !important;
}

.header-bottom{
    width: 100%;
    height: 40px;
    position: relative;
}

.left-logo{
    height: 400px;
    width: 300px;
    display: block !important;
    position: absolute !important;
    bottom: 0;
    left: 0.71429rem;
    z-index: 1;
}

.container{
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}
header .container{
    display: flex;
}

.logo{
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.logo-img{
    margin-bottom: 0.71429rem !important;
    width: 300px !important;

}

@media (min-width: 1200px){
    .container {
        width: 1140px;
        max-width: 100%;
    }
}

.TheGeneralPartOfEventsInPhotos{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.EventsInPhotos{
    transition: 0.3s;
    padding-left: 5px;
    padding-right: 5px;
}

.EventsInPhotos:hover{
    transform: scale(0.8);
}

.TextForEventsInPhotos{
    text-align: left;
    width: auto;
    padding: 50px;
    position: relative;
}

hr {
    height: 2px;
    border: 0;
    background-color: rgb(0, 0, 0);
    width: 70px;
}
